
.header {
  font-weight: normal;
  color: white;
  font-size: 50px;
  text-align: center;
}

html {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

.comingsoon {
  color: Aquamarine;
  font-size: 16px;
}

.middle, .end {
  color: white;
  font-weight: 300;
  font-size: 42px;
}

.pclassmiddle {
  font-size: 20px;
  color: gray;
}

.copywrite {
  text-align: right;
  color: gray;
}
